/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.box {
	width: 500px;
	height: 500px;
	margin: 100px auto;
	border: 1px dashed grey;


	background-image: linear-gradient(to right top,red, yellow, blue);
}

/* do závorky můžeme použít i jednotku pro úhel barvy pomocí zkratky deg, příklad 60deg a nebo to left/right/top a kombinovat to left top/ to right top */



